#builder {
  border: 1px solid #ddd;
}

.error {
  color: #c33;
}

input[type="checkbox"] {
    margin: 0;
    font-size: 1.5em;
}

label {
    width: 8.5em;
    text-align: right;
}

.form-group {
    display: block !important;
}

fieldset {
    margin-bottom: 2em;
}

legend {
  font-size: 15px;
  margin-bottom: 6px;
}

.query {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: #fff;
    padding: 1em;
    width: 80%;
    margin: 2px 10%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    height: 12em;
    background: #eee;
}
