{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FDSN Web Services",
    "description": "FDSN web services",
    "termsOfService": "TBD",
    "contact": {
      "name": "geows@iris.washington.edu"
    },
    "license": {
      "name": "GNU Lesser General Public License",
      "url": "http://www.gnu.org/licenses/"
    }
  },
  "host": "service.iris.edu",
  "basePath": "/fdsnws/event/1",
  "schemes": [
    "http"
  ],
  "paths": {
    "/query": {
      "get": {
        "tags": [
          "GeoWS Water Level Tides"
        ],
        "summary": "Event query",
        "description": "The fdsnws-event web service returns event (earthquake) information from the catalogs submitted to the IRIS DMC.",
        "operationId": "query",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest event time",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest event time",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "minmag",
            "in": "query",
            "description": "Minimum magnitude",
            "required": false,
            "type": "number",
            "maximum": 10,
            "minimum": 0
          },
          {
            "name": "maxmag",
            "in": "query",
            "description": "Maximum magnitude",
            "required": false,
            "type": "number",
            "maximum": 10,
            "minimum": 0
          },
          {
            "name": "magtype",
            "in": "query",
            "description": "Some common magnitude types are listed, other types may be specified by modifying the URL.",
            "required": false,
            "type": "string",
            "enum": ["MB", "ML", "MS", "MW"]
          },
          {
            "name": "minlon",
            "in": "query",
            "description": "western limit",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "maxlon",
            "in": "query",
            "description": "eastern limit",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "minlat",
            "in": "query",
            "description": "southern limit",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "maxlat",
            "in": "query",
            "description": "northern limit",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "List all contributed event origins; otherwise, choose only the origin from the preferred contributor.",
            "required": true,
            "type": "string",
            "enum": ["time", "time-asc", "magnitude", "magnitude-asc"]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the results to the specified number of events.",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "TBD_auth": [
              "write:writeTBD",
              "read:readTBD"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    },
    "TBD_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://TBD/api/oauth/dialog",
      "flow": "implicit"
    }
  }
}
