{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FDSN Event Web Service",
    "description": "The fdsnws-event web service returns event (earthquake) information from the catalogs submitted to the IRIS DMC.",
    "termsOfService": "TBD",
    "contact": {
      "name": "geows@iris.washington.edu"
    },
    "license": {
      "name": "GNU Lesser General Public License",
      "url": "http://www.gnu.org/licenses/"
    }
  },
  "host": "service.iris.edu",
  "basePath": "/fdsnws/event/1",
  "schemes": [
    "http"
  ],
  "paths": {
    "/query": {
      "get": {
        "tags": [
          "Event Query"
        ],
        "summary": "Query",
        "description": "query",
        "operationId": "query",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest event time",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest event time",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "minmag",
            "in": "query",
            "description": "Minimum magnitude",
            "required": false,
            "type": "number",
            "maximum": 10,
            "minimum": 0
          },
          {
            "name": "maxmag",
            "in": "query",
            "description": "Maximum magnitude",
            "required": false,
            "type": "number",
            "maximum": 10,
            "minimum": 0
          },
          {
            "name": "magtype",
            "in": "query",
            "description": "Some common magnitude types are listed, other types may be specified by modifying the URL.",
            "required": false,
            "type": "string",
            "enum": ["MB", "ML", "MS", "MW"]
          },
          {
            "name": "catalog",
            "in": "query",
            "description": "Catalog listing the event.",
            "required": false,
            "type": "string",
            "enum": ["ISC", "ANF", "GCMT", "NEIC PDE"]
          },
          {
            "name": "contributor",
            "in": "query",
            "description": "Group contributing the event.",
            "required": false,
            "type": "string",
            "enum": ["ISC", "ANF", "GCMT", "NEIC ALERT", "NEIC COMCAT", "NEIC PDE-M", "NEIC PDE-Q", "NEIC PDE-W"]
          },
          {
            "name": "includeallorigins",
            "in": "query",
            "description": "List all contributed event origins; otherwise, choose only the origin from the preferred contributor.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeallmagnitudes",
            "in": "query",
            "description": "List all contributed magnitudes; otherwise, choose only the magnitude from the preferred contributor.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includearrivals",
            "in": "query",
            "description": "Include phase picks for events, if they exist.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "minlon",
            "in": "query",
            "description": "Western limit of bounding box.",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "maxlon",
            "in": "query",
            "description": "Eastern limit of bounding box.",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "minlat",
            "in": "query",
            "description": "Southern limit of bounding box.",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "maxlat",
            "in": "query",
            "description": "Northern limit of bounding box.",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of bounding circle.",
            "required": false,
            "type": "number",
            "default": 40,
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude of bounding circle.",
            "required": false,
            "type": "number",
            "default": -100,
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "minradius",
            "in": "query",
            "description": "Minimum radius of bounding circle.",
            "required": false,
            "type": "number",
            "default": 0.0,
            "maximum": 180.0,
            "minimum": 0.0
          },
          {
            "name": "maxradius",
            "in": "query",
            "description": "Maximum radius of bounding circle.",
            "required": false,
            "type": "number",
            "default": 30.0,
            "maximum": 180.0,
            "minimum": 0.0
          },
          {
            "name": "mindepth",
            "in": "query",
            "description": "Minimum depth",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxdepth",
            "in": "query",
            "description": "Maximum depth",
            "required": false,
            "type": "number"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Specify the sort order of the results.",
            "required": true,
            "type": "string",
            "enum": ["time", "time-asc", "magnitude", "magnitude-asc"]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format for returned data.",
            "required": true,
            "type": "string",
            "enum": ["xml", "text"]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the results to the specified number of events.",
            "required": false,
            "type": "number"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Return results starting at the event count specified.",
            "required": false,
            "type": "number"
          },
          {
            "name": "eventid",
            "in": "query",
            "description": "Get event by ID. Most other options are unavailable when an event ID is specified.",
            "required": false,
            "type": "number"
          },
          {
            "name": "updatedafter",
            "in": "query",
            "description": "Return events updated since the given date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "TBD_auth": [
              "write:writeTBD",
              "read:readTBD"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    },
    "TBD_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://TBD/api/oauth/dialog",
      "flow": "implicit"
    }
  }
}
