{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "GeoWS UnFunded Waterlevel Tides",
    "description": "Demonstration of accessing NGDC Waterlevel Tides services using GeoWS technology. For more information about waterlevel tides, see <a href='http://www.ngdc.noaa.gov/waterlevel/tides/data/extractForm'>NGDC Tides DataExtract Services</a>",
    "termsOfService": "TBD",
    "contact": {
      "name": "geows@iris.washington.edu"
    },
    "license": {
      "name": "GNU Lesser General Public License",
      "url": "http://www.gnu.org/licenses/"
    }
  },
  "host": "geows.ds.iris.edu",
  "basePath": "/geows-uf/waterleveltides/1",
  "schemes": [
    "http"
  ],
  "paths": {
    "/query": {
      "get": {
        "tags": [
          "GeoWS Water Level Tides"
        ],
        "summary": "Get Waterlevel Tide Data",
        "description": "<p>The <strong>waterleveltides</strong> service provides station names and waterlevel data",
        "operationId": "getData",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "description": "overview - shows only stations, for waterlevel values, choose one of [year, month, day, hour, minute, full]",
            "required": false,
            "type": "string",
            "enum": ["overview", "year", "month", "day", "hour", "minute", "full"]
          },
          {
            "name": "stationIDs",
            "in": "query",
            "description": "Comma separated list, e.g. 9411166,MAHU  - empty list selects any.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "minlongitude",
            "in": "query",
            "description": "western limit",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "maxlongitude",
            "in": "query",
            "description": "eastern limit",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "minlatitude",
            "in": "query",
            "description": "southern limit",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "maxlatitude",
            "in": "query",
            "description": "northern limit",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "start time for desired coverage",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "end time for desired coverage",
            "type": "string"
          },
          {
            "name": "skipNullLatLong",
            "in": "query",
            "description": "don't output records when the location is null",
            "type": "boolean"
          },
          {
            "name": "selectNullLatLong",
            "in": "query",
            "description": "show records when the location is null",
            "type": "boolean"
          },
          {
            "name": "skipNullDatumTime",
            "in": "query",
            "description": "don't output records when the availability times are null",
            "type": "boolean"
          },
          {
            "name": "selectNullDatumTime",
            "in": "query",
            "description": "show records when the availability times are null",
            "type": "boolean"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "TBD_auth": [
              "write:writeTBD",
              "read:readTBD"
            ]
          }
        ]
      },
      "head": {
        "tags": [
          "GeoWS Water Level Tides"
        ],
        "summary": "Get Waterlevel Tide Data",
        "description": "<p>The <strong>waterleveltides</strong> service provides station names and waterlevel data",
        "operationId": "getData",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "resolution",
            "in": "query",
            "description": "overview - shows only stations, for waterlevel values, choose one of [year, month, day, hour, minute, full]",
            "required": false,
            "type": "string",
            "enum": ["overview", "year", "month", "day", "hour", "minute", "full"]
          },
          {
            "name": "stationIDs",
            "in": "query",
            "description": "Comma separated list, e.g. 9411166,MAHU  - empty list selects any.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "minlongitude",
            "in": "query",
            "description": "western limit",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "maxlongitude",
            "in": "query",
            "description": "eastern limit",
            "required": false,
            "type": "number",
            "maximum": 180.0,
            "minimum": -180.0
          },
          {
            "name": "minlatitude",
            "in": "query",
            "description": "southern limit",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "maxlatitude",
            "in": "query",
            "description": "northern limit",
            "required": false,
            "type": "number",
            "maximum": 90.0,
            "minimum": -90.0
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "start time for desired coverage",
            "type": "string"
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "end time for desired coverage",
            "type": "string"
          },
          {
            "name": "skipNullLatLong",
            "in": "query",
            "description": "don't output records when the location is null",
            "type": "boolean"
          },
          {
            "name": "selectNullLatLong",
            "in": "query",
            "description": "show records when the location is null",
            "type": "boolean"
          },
          {
            "name": "skipNullDatumTime",
            "in": "query",
            "description": "don't output records when the availability times are null",
            "type": "boolean"
          },
          {
            "name": "selectNullDatumTime",
            "in": "query",
            "description": "show records when the availability times are null",
            "type": "boolean"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "TBD_auth": [
              "write:writeTBD",
              "read:readTBD"
            ]
          }
        ]
      }
    },
    "/version": {
      "get": {
        "tags": [
          "Service Information"
        ],
        "summary": "Get version of service",
        "description": "<p>The <strong>wssversion</strong> service provides the version number of this service)",
        "operationId": "getVersion",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "TBD_auth": [
              "write:writeTBD",
              "read:readTBD"
            ]
          }
        ]
      }
    },
    "/wssversion": {
      "get": {
        "tags": [
          "Service Information"
        ],
        "summary": "Get version of WebServiceShell",
        "description": "<p>The <strong>wssversion</strong> service provides the version number of this WebServiceShell (WSS))",
        "operationId": "getWssVersion",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "TBD_auth": [
              "write:writeTBD",
              "read:readTBD"
            ]
          }
        ]
      }
    }

  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    },
    "TBD_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://TBD/api/oauth/dialog",
      "flow": "implicit"
    }
  }
}